# Dependencies
node_modules

# Environment variables (IMPORTANT: Do not upload passwords)
.env

# Build files
build
dist

# System files
.DS_Store
Thumbs.db

mongodb+srv://admin:admin123@cluster0.e7dkwws.mongodb.net/Restaurant-mern?appName=Cluster0